---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import SocialShares from '@components/SocialShares.astro'
import { getPosts, markdownToHtml } from '../../lib/api'
import { Heading } from 'accessible-astro-components'

export async function getStaticPaths() {
  const data = await getPosts('es')

  return data.map((post) => {
    return {
      params: { post: post.slug },
      props: { post },
    }
  })
}

const { post } = Astro.props
const author = {
  name: post.author,
  image: '/logo-smooth-software-solutions-desarrollo-web-3s-small.webp', // Keeping default logo for now or could be empty
  bio: '', // API doesn't provide bio yet
}

const contentHtml = await markdownToHtml(post.content)
---

<DefaultLayout
  title={post.title}
  description={post.description}
  url={post.slug}
>
  <PageHeader
    title={post.title}
    subtitle={post.description}
    author={author}
    bgType='bordered'
    featuredImage={post.banner_image_url}
  />
  <section class='my-12'>
    <div class='narrow container'>
      <div
        class='post-content'
        set:html={contentHtml}
      />
    </div>
  </section>
  <section class='my-12'>
    <div class='narrow space-content container'>
      <Heading level='h2'>Share this post</Heading>
      <p>Like this post? Share it with your friends!</p>
      <SocialShares />
    </div>
  </section>
</DefaultLayout>
