---
import { Image } from 'astro:assets'

/**
 * ContentMedia Component
 *
 * @description A component that displays content alongside media, with the option to reverse the image position
 */
interface Props {
  /**
   * The source image (imported asset)
   */
  imgSrc: ImageMetadata
  /**
   * Whether to display the image on the right side instead of the left
   * @default false
   */
  class?: string
  reverseImg?: boolean
  /**
   * The alt text for the image
   */
  imageAlt?: string
}

const { imgSrc, reverseImg = false, class: className, imageAlt = '' }: Props = Astro.props
---

<section class={`my-64 ${className}`}>
  <div class='container'>
    <div class='grid grid-cols-1 gap-24 md:grid-cols-2'>
      {
        !reverseImg ? (
          <Image
            class='img-wrapper h-auto w-full rounded-lg'
            src={imgSrc}
            alt={imageAlt}
            title={imageAlt}
            loading='lazy'
          />
        ) : (
          ''
        )
      }
      <div class='space-content flex flex-col justify-center'>
        <slot />
      </div>
      {
        reverseImg ? (
          <Image
            class='img-wrapper h-auto w-full rounded-lg'
            src={imgSrc}
            alt={imageAlt}
            title={imageAlt}
            loading='lazy'
          />
        ) : (
          ''
        )
      }
    </div>
  </div>
</section>
