---
import { Link } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

/**
 * Hero Component
 *
 * @description A component that displays a hero section with a title, description, and image
 */
interface Props {
  /**
   * The source URL for the image
   */
  src?: string
  animationsClasses: {
    smooth: string
    software: string
    image: string
  }
}

const { src = '/desarrollo-software-a-medida-smooth-software-solutions.svg', animationsClasses }: Props = Astro.props

import { whatsappLink } from '../lib/constants/contact'
---

<section class='hero my-40'>
  <div class='container'>
    <div class='grid grid-cols-1 items-center gap-16 lg:grid-cols-2'>
      <div class='flex flex-col items-center gap-8 md:items-start'>
        <h1 class='text-center text-6xl md:text-left lg:text-8xl'>
          <slot>
            Your problem, our
            <span class='text-gradient-wrapper relative inline-block'>
              <span class={`text-gradient opacity-100 ${animationsClasses.smooth}`}>smooth✔</span>
              <span class={`text-gradient absolute top-0 left-0 z-10 opacity-0 ${animationsClasses.software}`}
                >software</span
              >
            </span>solution
          </slot>
        </h1>
        <div class='flex flex-col items-center gap-3 min-[500px]:flex-row md:items-start'>
          <Link
            href='/contacto'
            isButton
            type='primary'
            animateOnHover
            animationType='boop'
          >
            <Icon
              aria-hidden='true'
              name='lucide:headset'
              size='1.5rem'
            />
            Contáctanos
          </Link>
          <Link
            href={whatsappLink}
            target='_blank'
            isButton
            type='secondary'
            animateOnHover
            animationType='boop'
          >
            <Icon
              aria-hidden='true'
              name='lucide:calculator'
              size='1.5rem'
            />
            Solicita tu cotización
          </Link>
        </div>
      </div>
      <Image
        class={`hidden lg:block ${animationsClasses.image}`}
        src={src}
        alt=''
        decoding='async'
        width={800}
        height={600}
        loading='eager'
      />
    </div>
  </div>
</section>

<style lang='scss'>
  h1 {
    text-wrap: unset;
  }

  .text-gradient {
    background: linear-gradient(
      315deg,
      light-dark(var(--color-primary-300), var(--color-secondary-100)) 25%,
      light-dark(var(--color-secondary-300), var(--color-primary-200))
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
